{% extends "base.html" %}
{% load static %}

{% block active_contacteznous %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">
    <section id="breadcrumbs" style="background-color:#462446" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contactez nous</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'sondage' %}">Contactez nous</a></li>
          </ol>
        </div>

      </div>
    </section>

      <section>
          <div class="container" data-aos="fade-up">
              <div class="row justify-content-evenly" style="background-color:#462446">
                  <div class="row"></div>
                  <div class="col-lg-7 col-12" style="padding:35px">
                      <div class="row">
                          <div class="col-1"></div>
                          <div class="col-10">
                              <p style="color:#fff;font-size:25px;">Laissez-nous un message</p>
                              {% load crispy_forms_tags %}
                              <form class="form-horizontal" method="POST">
                                  {% csrf_token %}

                                  <div class="form-group" style="color:#fff">
                                      {{ form.prenom|as_crispy_field }}
                                      {{ form.nom|as_crispy_field }}
                                      {{ form.fonction|as_crispy_field }}
                                      {{ form.objet|as_crispy_field }}
                                      {{ form.message|as_crispy_field }}
                                  </div>
                                  <div class="social-auth-links text-center mb-3">
                                    <input class="btn btn-block btn-secondary" type="submit" value="Envoyer >" style="font-weight:700">
                                  </div>
                              </form>
                          </div>
                          <div class="col-1"></div>
                      </div>
                  </div>
                  <div class="col-lg-5 col-12 bordered" style="margin:25px 0px;padding-left:30px;border-left: 15px solid #fff;">
                      <p style="color:#fff;font-size:25px;">Nos coordonnées</p>
                      <p style="color:#fff">
                          <i style="font-size:25px" class="fa fa-phone"></i>
                      </p>
                      <p style="color:#fff">
                          <i style="font-size:25px" class="fa fa-whatsapp"></i>
                      </p>
                      <p style="color:#fff">
                          <i style="font-size:25px" class="fa fa-envelope"></i>
                      </p>
                      <p style="color:#fff">
                          <svg style="height:25px;width:25px;"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                              <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" fill="#FFFFFF"/></svg>
                      </p>
                      <br><br>
                      <p style="color:#fff;font-size:&8px">Nous suivre sur les réseaux</p>
                      <div class="row d-flex text-center">
                          <div class="col-1"></div>
                          <div class="col-3">
                              <p style="color:#fff">
                                  <i style="font-size:60px" class="fa fa-facebook"></i>
                              </p>
                          </div>
                          <div class="col-3">
                              <p style="color:#fff">
                                  <i style="font-size:60px" class="fa fa-linkedin"></i>
                              </p>
                          </div>
                          <div class="col-5"></div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}
