{% extends "base.html" %}
{% load static %}

{% block active_nosolutions %}
active
{% endblock %}

{% block link %}
<style>
.solution::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
  filter: blur(5px); /* Flou gaussien de 5px */
}
</style>
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
<main id="main" xmlns="http://www.w3.org/1999/html">
    <!--
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Nos solutions</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'sondage' %}">Nos solutions</a></li>
          </ol>
        </div>

      </div>
    </section>
    -->

    <section id="clients" class="clients">
      <div class="container " data-aos="fade-up">
          <div class="row">
              <div class="col "></div>
              <div class="col-lg-12 col-12 solutio" style="background-image:url('{% static 'cabinet/assets/img/main-clavie.jpg' %}');background-size:cover;background-position:center;">
                <br>
                <div class="" style="position:relative;text-align:center;text-transform:capitalize;color:#462446">
                    <h2><span style="font-weigh:700;text-align:center;border-bottom:6px solid #462446;padding-bottom:15px">Nos solutions</span></h2>
                </div>
                  <br><br>
                <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
              </div>
              <div class="col"></div>
          </div>
      </div>
    </section>

      <section>
          <div class="container text-center clearfix" data-aos="fade-up">
              <div class="row justify-content-evenly">
                  <div id="solution" class="col-lg-6 col-12 text-center" style="padding-right:30px;">
                      <p style="color:#282830;font-size:30px;font-weight:700">Renforcement des capacités techniques et managériales</p>
                      <p style="color:#282830;font-size:25px;font-weight:700">Programme Diamond</p>
                      <p>
                          <img style="height:260px;width:100%;object-fit:cover" src="{% static 'cabinet/assets/img/4.jpeg' %}" alt="" class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:270px;width:320px;background-size:cover" alt="">
                          -->
                      </p>
                      <div class="text-right">
                          <p class="text-justify">
                              Un manager doit constamment travailler à acquérir un niveau plus élevé de leadership et des outils éprouvés de management pour relever les défis qui sont les siens.
                              <br><br>
                              Le programme Diamond contribue à renforcer le leadership les capacités managériales de ses bénéficiaires.
                              Il est destiné à toute personne en position de manager. 
                                <!-- Badge trigger modal -->
                                <span style="border:1px solid #462446; border-radius:5px;padding:2px;background-color:#462446;color:#fff;cursor:pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    voir plus...
                                </span>
                              <br><br><br>
                          </p>
                      </div>
                  </div>

                  <div class="col-lg-6 col-12 text-center bordered" style="padding-left:30px;;border-left: 7px solid #462446;">
                      <br>
                      <p style="color:#282830;font-size:25px;font-weight:700">Formation inter et intra-entreprises</p>
                      <br><br><br>
                      <p>
                          <img style="height:260px;width:100%;object-fit:cover" src="{% static 'cabinet/assets/img/2ex.jpeg' %}" alt="" class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:270px;width:320px;background-size:cover" alt="">
                          -->
                      </p>
                      <div class="text-right">
                          <p class="text-justify">
                              Nous proposons chaque année une série d’ateliers de formations à des dates déterminées.
                              Ils regroupent des participants issus de différentes organisations, autour des thématiques
                              couvrant des domaines variés tels que :
                              <!-- Badge trigger modal -->
                                <span style="border:1px solid #462446; border-radius:5px;padding:2px;background-color:#462446;color:#fff;cursor:pointer"
                                      data-bs-toggle="modal"
                                      data-bs-target="#exampleModal1">
                                  voir plus...
                                </span>
                          </p>
                      </div>
                  </div>

                  <div class="col-lg-6 col-12 text-center" style="padding-right:30px">
                      <p style="color:#282830;font-size:30px;font-weight:700">Facilitation d'accès au financement</p>

                      <p style="color:#282830;font-size:25px;font-weight:700">Etude de marché</p>
                      <p>
                        <img style="height:260px;width:100%;object-fit: cover" src="{% static 'cabinet/assets/img/5.jpeg' %}" alt="" class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:270px;width:320px;background-size:cover" alt="">
                          -->
                      </p>
                      <div class="text-right">
                          <p class="text-justify">
                              Nous prenons en charge la réalisation de vos études de marché préalable au lancement de
                              vos projets entrepreneuriaux. Nous vous permettons ainsi de confronter votre idée aux réalités
                              de votre marché et de réduire les risques liés à cette dernière par l’élaboration de stratégies
                              appropriées. Vous mesurerez ainsi vos chances de succès avant même de vous lancer.
                              Nous réalisons votre étude de marché avec les outils et méthodes les plus adaptés à la nature
                              spécifique de votre projet.
                              <!-- Badge trigger modal -->
                                <span style="border:1px solid #462446; border-radius:5px;padding:2px;background-color:#462446;color:#fff;cursor:pointer"
                                      data-bs-toggle="modal"
                                      data-bs-target="#exampleModal2">
                                  voir plus...
                                </span>
                          </p>
                      </div>
                  </div>

                  <div class="col-lg-6 col-12 text-center bordered" style="padding-left:30px;border-left: 7px solid #462446;">
                      <p style="color:#282830;font-size:25px;font-weight:700">Business plans</p>
                      <br><br>
                      <p>
                          <img style="height:260px;width:100%;object-fit:cover" src="{% static 'cabinet/assets/img/7.jpeg' %}" alt="" class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:270px;width:320px;background-size:cover" alt="">
                          -->
                      </p>
                      <div class="text-right">
                          <p class="text-justify">
                              Nous vous accompagnons dans le montage de votre business plan. Notre démarche aboutira
                              sur un outil qui vous permettra d’évaluer la viabilité et la faisabilité commerciale,
                              technique, financière et environnementale de votre projet idée. Votre plan d’affaires
                              facilitera également le pilotage de votre projet entrepreneurial et la mobilisation des
                              ressources financières requises pour sa mise en œuvre.
                              <!-- Badge trigger modal -->
                                <span style="border:1px solid #462446; border-radius:5px;padding:2px;background-color:#462446;color:#fff;cursor:pointer"
                                      data-bs-toggle="modal"
                                      data-bs-target="#exampleModal3">
                                  voir plus...
                                </span>
                              <br><br><br>
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-12"></div>

                  <div class="col-lg-6 col-12 text-center bordered" style="padding-left:30px;border-left: 7px solid #462446;">
                      <p style="color:#282830;font-size:25px;font-weight:700">Accompagnement dans la recherche de financements</p>
                      <p>
                          <img style="height:260px;width:100%;object-fit:cover" src="{% static 'cabinet/assets/img/management.jpg' %}" alt="" class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:270px;width:320px;background-size:cover" alt="">
                          -->
                      </p>
                      <div class="text-right">
                          <p class="text-justify">
                              La plupart des grands projets nécessitent des ressources financières importantes.
                              Il n’est pas toujours aisé de trouver des partenaires financiers. Aujourd’hui,
                              grâce à nos partenariats et notre expérience nous pouvons vous accompagner dans
                              la mobilisation des ressources financières dont vous avez besoin pour concrétiser
                              vos projets entrepreneuriaux.
                              <!-- Badge trigger modal -->
                                <span style="border:1px solid #462446; border-radius:5px;padding:2px;background-color:#462446;color:#fff;cursor:pointer"
                                      data-bs-toggle="modal"
                                      data-bs-target="#exampleModal3">
                                  voir plus...
                                </span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

<!-- Modal DIAMOND -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nos solutions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-right">
            <p class="text-justify">
                  Un manager doit constamment travailler à acquérir un niveau plus élevé de leadership et des outils éprouvés de management pour relever les défis qui sont les siens.
                  <br><br>
                  Le programme Diamond contribue à renforcer le leadership les capacités managériales de ses bénéficiaires. Il est destiné à toute personne en position de manager. 
                  <br><br>
                  Ce programme se déroule en trois phases essentielles : le diagnostic, la formation et le suivi-accompagnement post-formation.
                <br>
              </p>
            <ul style="text-align:justify">
                <li>
                    La phase de diagnostic : A ce stade, nous identifions clairement vos forces et vos faiblesses.
                    Nous vous proposons ainsi un programme personnalisé, destiné à vous aider vos managers à acquérir de
                    nouvelles habitudes et aptitudes utiles à l’atteinte d’objectifs plus élevés.
                </li>
                <li>
                    La phase de formation ; Elle se déroule généralement sur une période de deux à quatre jours.
                    À la fin de cette phase, les participants :
                    <ul>
                        <li>
                            s’approprient la mission et la vision de leur entreprise
                        </li>
                        <li>
                            délèguent efficacement des tâches à leurs collaborateurs
                        </li>
                        <li>
                            gèrent leurs priorités avec efficacité
                        </li>
                        <li>
                            motivent efficacement leurs collaborateurs
                        </li>
                        <li>
                            établissent un mécanisme de communication efficace au sein de leur entreprise
                        </li>
                        <li>
                            établissent un plan de développement individuel
                        </li>
                        <li>
                            se construisent une personnalité susceptible de contribuer à l’amélioration des performances
                            de leur entreprise.
                        </li>
                    </ul>
                </li>
                <li>
                    La phase de suivi post- formation : Il s’agit d’un accompagnement offert qui se déroule sur
                    une durée de trois à six mois. Cette phase permet d’apporter l’accompagnement à la mise en pratique
                    des nouvelles compétences acquises par les bénéficiaires du programme Diamond.
                </li>
              </ul>
            <p style="text-align:justify;font-weight:600">
                Alors, êtes-vous intéressés par le programme Diamond ?
                <br><br>
                <a style="text-decoration:none" href="{% url 'contacteznous' %}">“ Laissez-nous un message pour discuter des modalités ”</a>
            </p>
        </div>
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
  </div>
</div>

<!-- Modal FORMATION -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Nos solutions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-right">
            <p class="text-justify">
                Nous proposons chaque année une série d’ateliers de formations à des dates déterminées.
                Ils regroupent des participants issus de différentes organisations, autour des thématiques
                couvrant des domaines variés tels que :
            </p>
            <ul style="text-align:justify">
                <li>
                    LE LEADERSHIP
                </li>
                <li>
                    LE MANAGEMENT DES PROJETS ET DES ORGANISATIONS
                </li>
                <li>
                    LE MANAGEMENT DE LA QUALITÉ
                </li>
                <li>
                    LE MANAGEMENT DES RESSOURCES HUMAINE
                </li>
                <li>
                    LA COMMUNICATION
                </li>
                <li>
                    LE SECRÉTARIAT-L’ASSISTANAT DE DIRECTION-AUTRES (ORIENTE VERS LE LEADERSHIP)
                </li>
            </ul>
            <p style="text-align:justify;font-weight:600">
                Il s’agit d’une série de formations destinée à toutes les personnes désireuses de renforcer leurs
                compétences dans les domaines susmentionnés. Elles constituent également une occasion de se construire
                un réseau de contacts. Le programme est disponible en présentiel, et en distanciel. Ces ateliers sont animés
                par des experts de haut niveau et de diverses nationalités.
                <br><br>
                Les formations à venir :
                <br><br>
                Le nombre de participants aux ateliers inter-ateliers inter-entreprises est limité, pour une meilleure interaction et un meilleur encadrement.
                <br><br>
                <a href="{% url 'contacteznous' %}">Réservez votre place maintenant.</a>
            </p>
        </div>
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
  </div>
</div>

<!-- Modal FORMATION -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Nos solutions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-right">
          <p class="text-justify">
              Nous prenons en charge la réalisation de vos études de marché préalable au lancement de
              vos projets entrepreneuriaux. Nous vous permettons ainsi de confronter votre idée aux réalités
              de votre marché et de réduire les risques liés à cette dernière par l’élaboration de stratégies
              appropriées. Vous mesurerez ainsi vos chances de succès avant même de vous lancer.
              Nous réalisons votre étude de marché avec les outils et méthodes les plus adaptés à la nature
              spécifique de votre projet.
              <br><br>
              Ne laissez plus le succès de vos projets au hasard. Choisissez le succès, réalisez votre étude de marché avec JGK-EC, partout en Afrique.
              <br><br>
              <a href="{% url 'contacteznous' %}">Nous contacter ou prendre un rendez-vous maintenant</a>
          </p>
        </div>
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
  </div>
</div>

<!-- Modal FORMATION -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel3">Nos solutions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-right">
          <p class="text-justify">
              La plupart des grands projets nécessitent des ressources financières importantes.
              Il n’est pas toujours aisé de trouver des partenaires financiers. Aujourd’hui,
              grâce à nos partenariats et notre expérience nous pouvons vous accompagner dans
              la mobilisation des ressources financières dont vous avez besoin pour concrétiser
              vos projets entrepreneuriaux.
              <br><br>
              <b>Êtes vous à la recherche d’un financement pour un projet de croissance ou de diversification ?</b>
              <br><br>
              <a style="text-decoration:none" href="{% url 'contacteznous' %}">Laissez-nous un message maintenant.</a>
          </p>
        </div>
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
  </div>
</div>

  </main>
{% endblock %}
