{% extends "base.html" %}
{% load static %}

{% block active_formation_calender %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Formations</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'calendrier' %}">Formations</a> &nbsp;/ &nbsp;Calendrier</li>
          </ol>
        </div>

      </div>
    </section>
    <section id="blog" class="blog">
      <div class="container">
        <div class="section-title">
            <h2>CALENDRIER DE FORMATIONS</h2>
        </div>
        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img src="{% static 'cabinet/assets/img/hotel2fevrier_.jpg' %}" alt="" class="img-fluid">
              </div>
                <section id="faq" class="faq section-bg">
                  <div class="container" data-aos="fade-up">
                      <h2>Atelier en présentiel</h2>
                      <br>
                      <h2 style="font-size:22px" class="entry-title">
                          <a href="javascript:void(0)"><span style="text-decoration:underline">Thème</span> :</a>
                      </h2>
                      <h2 class="entry-title" style="text-align:center;font-style:italic;font-size:25px">
                          <a style="margin-left: 50px;" href="javascript:void(0)"> <span id="6modules">Les quatre postures du manager: équipier, entraineur, arbitre, coach.</span></a>
                      </h2>
                      <br>
                      <div class="entry-content">
                        <p style="line-height:33px;font-style:italic">
                            <span style="text-decoration:underline">Dates</span> : <span style="font-weight: 600;">Les 07, 08 et 09 Avril 2021</span>
                            <br>
                            <span style="text-decoration:underline">Lieu</span> : <span style="font-weight: 600;">Hôtel 2 février Lomé – Togo</span>
                            <br>
                            <span style="text-decoration:underline">Coût de la formation</span> : <span style="font-weight: 600;">450000 XOF</span>
                        </p>
                      </div>
                      <div class="faq-list">
                          <ul>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
                                    Voir les modules de formations
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                                  <div class="sidebar-item categories">
                                    <ul style="font-weight:600; line-height:30px">
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 1 :</span>  Concept du pouvoir axé sur les principes et les valeurs</a></li>
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 2 :</span> Approche gagnant/gagnant et énoncé de mission</a></li>
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 3 :</span>  Délégation et contrôle hiérarchique</a></li>
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 4 :</span> Gestion des priorités</a></li>
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 5 :</span>  Prévention et gestion des conflits</a></li>
                                        <li><a style="color:black;text-decoration:none" href="javascript:void(0)"><span style="font-style:italic;font-weight:700">Module 6 :</span>  Fenêtre de JOHARI et leadership</a></li>
                                    </ul>
                                  </div>
                              </div>
                            </li>
                          </ul>
                      </div>
                      <div class="entry-content">
                        <p style="line-height:33px; font-style:italic">
                          <div style="cursor:pointer;color:#3f48cc; font-style:italic" onclick='downloaD("{{saveurl}}", "{{savename}}")'>
                            S'inscrire à la formation en présentiel<span class="bx bx-chevron-right"></span>
                          </div>
                          <br>
                          <a href="{% url 'calendrier2' %}" style="cursor:pointer;color:#3f48cc; font-style:italic">
                            S'inscrire à la formation en ligne<span class="bx bx-chevron-right"></span>
                          </a>
                          <br>
                          Rejoignez-nous en atelier inter structure <a href="{% url 'calendrier' %}" title="lien vers la page du calendrier">(date prochaine de la formation)</a>,
                          intra structure <a href="{% url 'formule' %}#contact" title="Contacter nous directement grâce aux numéro figurant en bas de la page">(sur demande)</a>
                        </p>
                      </div>
                  </div>
                </section>
            </article>
          </div>
          <div class="col-lg-4">

            <div class="sidebar" data-aos="fade-left">

              <h3 class="sidebar-title">Formations</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="{% url 'formule' %}">Formule</a></li>
                  <li><a href="{% url 'calendrier' %}">Calendrier</a></li>
                </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}


{% block javascript %}
<script>
    function downloaD(url, name) {
        fetch(url).then(async (res) => {
           const dFile = await res.blob();
           var blobURL = window.URL && window.URL.createObject.URL ? window.URL.createObjectURL(dFile) : window.webkitURL.createObjectURL(dFile);
           var tempLink = document.createElement("a");
           tempLink.style.display = "none";
           tempLink.href = "blobURL";
           tempLink.setAttribute("download", name);

           if (typeof tempLink.download === "undefined") {
                tempLink.setAttribute("target", "_blank");
           }

           document.body.appendChild(tempLink);
           tempLink.click();

           setTimeout(function () {
                document.body.removeChild(tempLink);
                window.URL.revokeObjectURL(blobURL);
           }, 200);
        });
    }
</script>
{% endblock %}