{% extends "base.html" %}
{% load static %}

{% block active_formation_formule %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Formations</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'expertise' %}">Formations</a> &nbsp;/ &nbsp;Formule</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img src="{% static 'cabinet/assets/img/acceuil10.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 style="font-size:20px" class="entry-title">
                <a href="javascript:void(0)">LES QUATRE POSTURES DU MANAGER: EQUIPIER, ENTRAINEUR, ARBITRE, COACH.</a>
              </h2>

              <div class="text-center">
                <span style="font-weight:500;font-size:20px;font-style:italic">
                  « Si la solution n’est pas de travailler plus dur, <br>plus vite et plus malin, quelle est-elle donc ? »
                  <br>
                </span>
                <marquee><span style="color:#3f48cc;font-weight:700;font-style:italic">Stephen R. Covey</span></marquee>
              </div>

              <br>
              <div class="entry-content">
                <p style="line-height:33px">
                  Aujourd’hui, contrairement aux pratiques les plus répandues, les experts les plus aguerries
                  dans le domaine du management et du leadership s’accordent sur le fait que la solution n’est pas
                  de travailler plus dur plus vite et plus malin. Deux questions d’importance capitale devraient
                  être la préoccupation majeure de tout manager orienté vers plus de performances:

                </p>
                <ul style="font-weight:600; line-height:30px">
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">Quels sont les facteurs les plus décisifs qui entravent des résultats plus prometteurs ?</a></li>
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">Quels sont les instruments et moyens les plus rentables qui pourraient orienter les ressources humaines vers plus de productivité ?</a></li>
                </ul>
                <p style="line-height:35px">
                  Ces deux questions d’un grand intérêt trouveront réponses à travers <a  target="_blank" href="{% url 'calendrier' %}#6modules">six (06) modules</a>
                  qui seront développés au cours de cette formation.
                </p>
                <div class="faq-list">
                    <ul>
                      <li style="list-style: none" data-aos="fade-up" data-aos-delay="100">
                          <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
                              Voir plus
                          </a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            <div class="sidebar-item categories">
                              <div class="card-body p-2">
                                <table class=" table table-striped table-hover projects">
                                    <br>
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 25%;font-size:14px">
                                                INTITULE
                                            </th>
                                            <th class="text-center" style="width: 75%;font-size:14px">
                                                LES QUATRE POSTURES DU MANAGER : EQUIPIER, ENTRAINEUR, ARBITRE, COACH.
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td style="font-weight:700">PROBLEMES RESOLUS</td>
                                          <td style="font-size:15px; font-weight:500;">
                                            <span style="font-style:italic;">« Si la solution n’est pas de travailler plus dur, plus vite et plus malin, quelle est-elle donc ? » Stephen R. Covey</span>
                                            <br>
                                            <br>
                                            <span>
                                              Le bien-être matériel et immatériel d’une organisation est essentiellement fonction
                                              de ses ressources humaines. Plus productives et plus responsables sont celles-ci,
                                              plus grande sera la richesse de l’organisation. Les managers de tous ordres et
                                              degrés, dans leurs différentes postures ont la responsabilité d’explorer
                                              constamment les voies et les moyens les plus à même d’amener les ressources
                                              humaines dont ils sont responsables, à cette situation désirée.
                                            </span>
                                            <br>
                                            <br>
                                            <span>
                                              Aujourd’hui, contrairement aux pratiques les plus répandues, les experts les plus
                                              aguerries dans le domaine du management et du leadership s’accordent sur le fait
                                              que la solution n’est pas de travailler plus dur plus vite et plus malin. Deux
                                              questions d’importance capitale devraient être la préoccupation majeure de tout
                                              manager orienté vers plus de performances :
                                                <br><br>
                                                <span style="font-style:italic"><ul><li>Quels sont les facteurs les plus décisifs qui entravent des résultats plus prometteurs ?</li></ul></span>
                                                <br>
                                                <span style="font-style:italic"><ul><li>Quels sont les instruments et moyens les plus rentables qui pourraient orienter les ressources humaines vers plus de productivité ?</li></ul></span>
                                            </span>
                                              <br>
                                            <span>Ces deux questions d’un grand intérêt trouveront réponses à travers six (06) modules qui seront développés au cours de cette formation.</span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">OBJECTIFS</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <ul>
                                                  <li style="font-style:italic">Identifier les facteurs limitatifs de la productivité des ressources humaines, matérielles et immatérielles ;</li>
                                                  <li style="font-style:italic">Augmenter la productivité de chaque poste et la rentabilité de chaque heure ;</li>
                                                  <li style="font-style:italic">Améliorer la qualité de leadership des managers.</li>
                                              </ul>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">RESULTATS ATTENDUS</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <ul>
                                                  <li style="font-style:italic">Les participants sont aptes à identifier les facteurs limitatifs de la productivité des ressources humaines, matérielles et immatérielles de leurs organisations ;</li>
                                                  <li style="font-style:italic">La productivité des participants et des équipes sous leurs responsabilités augmente ;</li>
                                                  <li style="font-style:italic">La qualité de leadership des participants est améliorée.</li>
                                              </ul>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">CIBLES</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <ul>
                                                  <li style="font-style:italic">Managers et cadres administratifs et techniques des grandes entreprises publiques et privées, des administrations publiques et privées, des PME et d’autres types d’organisation ;</li>
                                                  <li style="font-style:italic">Officiers d’armées et de police ;</li>
                                                  <li style="font-style:italic">Leaders politiques et religieux.</li>
                                              </ul>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">EFFECTIF ET DUREE DE LA FORMATION</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <ul>
                                                  <li style="font-style:italic">20 personnes au maximum par atelier</li>
                                                  <li style="font-style:italic">01 jour de diagnostic </li>
                                                  <li style="font-style:italic">03 jour de formation</li>
                                                  <li style="font-style:italic">06 mois de suivi post formation offerts</li>
                                              </ul>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">APPROCHE METHODOLOGIQUE</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <p>
                                                  <span>
                                                      De nombreux programmes ont pour objectif le transfert de qualifications et de
                                                      savoir-faire. Mais, bien que des connaissances soient acquises par les stagiaires,
                                                      ceux-ci ne les appliquent que très peu une fois la formation terminée. Ceci
                                                      s’explique par le fait que ces programmes ne travaillent pas les motivations
                                                      d’action, ne renforcent pas les capacités d’action et ne mettent pas à l’épreuve ces
                                                      capacités dans des exercices de simulation de <span style="font-style:italic">« situations réelles »</span>.
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Il y a six stades principaux dans nos programmes de formation, quel que soit le
                                                      groupe cible. Ils reposent sur le principe du <span style="font-weight:600">learning by doing (l’apprentissage
                                                      par l’action).</span>
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le premier stade est celui de <span style="font-weight:600">la prise de conscience</span> et ou de la <span style="font-weight:600">connaissance</span> ; à
                                                      ce stade, les participants sont appelés à analyser qui sont-ils ? A clarifier leurs
                                                      propres valeurs, et à évaluer leur propre personnalité, motivations, compétences et
                                                      ressources.
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le deuxième stade est celui de <span style="font-weight:600">l’acceptation</span> ou de la reconnaissance de ses forces et faiblesses.
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le troisième stade est la <span style="font-weight:600">définition des objectifs</span>, où l’accent est mis sur la
                                                      clarification des buts dans le cadre des objectifs que les participants se sont fixés pour le court et le long terme.
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le quatrième stade comporte <span style="font-weight:600">l’élaboration de stratégies ou plans d’action</span> établis pour aboutir à plus de performance ;
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le cinquième stade est <span style="font-weight:600">l’expérience directe</span>, où l’accent est mis sur la formation
                                                        sur le tas ; des expériences éducatives bien structurées ainsi que des situations
                                                        réellement vécues aident beaucoup à acquérir l’expérience pratique permettant aux
                                                        stratégies d’être effectivement mises à l’épreuve, évaluées et modifiées.
                                                      <br><br>
                                                  </span>
                                                  <span>
                                                      Le sixième et dernier stade est celui de la <span style="font-weight:600">métamorphose</span> et de la <span style="font-weight:600">capacité</span> où les
                                                        compétences acquises se rassemblent dans un modèle qui implique
                                                        les forces et les faiblesses personnelles avec les objectifs.
                                                  </span>
                                              </p>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">STRUCTURE DE LA FORMATION.</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <p>
                                                  <a href="javascript:void(0)">Jour 1 :</a>
                                                  <br>
                                                  <ul>
                                                    <li style="font-style:italic"> Module 1 : Concept du pouvoir axé sur les principes et les valeurs</li>
                                                    <li style="font-style:italic"> Module 2 : Approche gagnant/gagnant et énoncé de mission</li>
                                                  </ul>
                                              </p>
                                              <p>
                                                  <a href="javascript:void(0)">Jour 2 :</a>
                                                  <br>
                                                  <ul>
                                                    <li style="font-style:italic"> Module 3 : Délégation et contrôle hiérarchique</li>
                                                    <li style="font-style:italic"> Module 4 : Gestion des priorités</li>
                                                  </ul>
                                              </p>
                                              <p>
                                                  <a href="javascript:void(0)">Jour 3 :</a>
                                                  <br>
                                                  <ul>
                                                    <li style="font-style:italic"> Module 5 : Prévention et gestion des conflits</li>
                                                    <li style="font-style:italic"> Module 6 : Fenêtre de JOHARI et leadership</li>
                                                  </ul>
                                              </p>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">MODALITES PRATIQUES</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <ul>
                                                  <li style="font-style:italic">Lieu : Hôtel 2 Février de Lomé</li>
                                                  <li style="font-style:italic">Badges aux participants</li>
                                                  <li style="font-style:italic">Kit de participant offert</li>
                                                  <li style="font-style:italic">Deux (02) pause-café et une pause déjeuné offerts</li>
                                                  <li style="font-style:italic">Attestation de fin de formation délivrée</li>
                                              </ul>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">FORMATEUR</td>
                                          <td style="font-size:15px; font-weight:500;">
                                              <p>
                                                  Docteur Jean-Gaspard KOMINA est économiste de développement et Spécialiste
                                                    en Culture et Développement. Il est Formateur Certifié CEFE (Compétences
                                                    Economiques par la Formation à l’Esprit d’Entreprise), une méthodologie
                                                    allemande. Il est également Formateur Certifié GERME (Gérez Mieux Votre
                                                    Entreprise), une méthodologie du Bureau International du Travail (BIT).
                                                  <br>
                                                  Il a été :
                                                  <ul>
                                                    <li style="font-style:italic">
                                                        Expert Chargé de la Promotion et de l’Appui-Conseil à l’Entrepreneuriat
                                                        du Fonds d’Appui aux Initiatives Economiques des Jeunes (FAIEJ), une
                                                        structure gouvernementale du Togo.
                                                    </li>
                                                    <li style="font-style:italic">
                                                        Chef de file pour la formation des formateurs selon l’approche GERME,
                                                        sur financement de la Banque Africaine de Développement (BAD)
                                                    </li>
                                                    <li style="font-style:italic">
                                                        Formateur des Directeurs et Chefs Service de la Mairie de Lomé (District
                                                        Autonome du Grand Lomé)
                                                    </li>
                                                    <li style="font-style:italic">
                                                        En charge de la Formation des Responsables des PME/PMI, sur
                                                        financement de la BAD
                                                    </li>
                                                    <li style="font-style:italic">
                                                        Expert pour l’appui de l’équipe de l’Agence Nationale d’Appui au
                                                        Développement à la Base de la Région des Savanes, sur financement de la
                                                        Banque Mondiale
                                                    </li>
                                                    <li style="font-style:italic">
                                                        Consultant sur le Projet National de Promotion de l’Entrepreneuriat Rural
                                                        (PNPER)
                                                    </li>
                                                  </ul>
                                              </p>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="font-weight:700">TARIFICATION</td>
                                          <td style="font-size:15px; font-weight:700;text-align:center">450 000 FCFA</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </li>
                    </ul>
                </div>
                <p style="line-height:35px">
                  <div style="cursor:help;color:#3f48cc;font-style:italic" onclick='downloaD("{{saveurl}}", "{{savename}}")' class="picto-item" aria-label="Remplissez et signez le formulaire d'inscription après l'avoir téléchargé et nous le renvoyer par E-mail: jgkec@yahoo.fr">
                    Par ici pour l'inscription à la formation en présentiel<span class="bx bx-chevron-right"></span>
                  </div>
                  <br>
                  <div style="cursor:help;color:#3f48cc;font-style:italic" onclick='downloaD("{{saveurl3}}", "{{savename3}}")' class="picto-item">
                    Par là pour l'inscription à la formation en ligne<span class="bx bx-chevron-right"></span>
                  </div>
                  <br>
                  Rejoignez-nous en atelier inter structure <a href="{% url 'calendrier' %}" title="lien vers la page du calendrier">(date prochaine de la formation)</a>,
                  intra structure <a href="{% url 'formule' %}#contact" title="Contacter nous directement grâce aux numéro figurant en bas de la page">(sur demande)</a>
                </p>
              </div>

            </article>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar" data-aos="fade-left">

              <h3 class="sidebar-title">Formations</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="{% url 'formule' %}">Formule</a></li>
                  <li><a href="{% url 'calendrier' %}">Calendrier</a></li>
                </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock %}

{% block javascript %}
<script>
    function downloaD(url, name) {
        fetch(url).then(async (res) => {
           const dFile = await res.blob();
           var blobURL = window.URL && window.URL.createObject.URL ? window.URL.createObjectURL(dFile) : window.webkitURL.createObjectURL(dFile);
           var tempLink = document.createElement("a");
           tempLink.style.display = "none";
           tempLink.href = "blobURL";
           tempLink.setAttribute("download", name);

           if (typeof tempLink.download === "undefined") {
                tempLink.setAttribute("target", "_blank");
           }

           document.body.appendChild(tempLink);
           tempLink.click();

           setTimeout(function () {
                document.body.removeChild(tempLink);
                window.URL.revokeObjectURL(blobURL);
           }, 200);
        });
    }
</script>
{% endblock %}