{% extends "base.html" %}
{% load static %}

{% block active_apropos %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">
    <section id="breadcrumbs" style="background-color:#462446" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>A propos</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'sondage' %}">A propos</a></li>
          </ol>
        </div>

      </div>
    </section>

      <section>
          <div class="container" data-aos="fade-up">
              <div class="row justify-content-evenly">
                  <div class="col-lg-6 col-12">
                      {% if propos.titreQ %}
                      <p style="color:#282830;font-size:18px;font-weight:700" class="text-justify">
                          {{propos.titreQ}}
                      </p>
                      {% endif %}
                      {% if propos.descriptionQ %}
                      <p class="text-justify">
                          {{propos.descriptionQ|safe}}
                      </p>
                      {% endif %}
                      {% if propos.imageQ.url is not None %}
                      <p>
                        <img src="{{propos.imageQ.url }}" alt="" class="img-fluid">
                        <!--
                        <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:370px;width:500px;background-size:cover" alt="">
                        -->
                      </p>
                      {% endif %}
                  </div>
                  <div class="col-lg-6"></div>

                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 col-12">
                      {% if propos.titreM %}
                      <p style="color:#282830;font-size:18px;font-weight:700" class="text-right">
                        {{propos.titreM}}
                      </p>
                      {% endif %}
                      {% if propos.descriptionM %}
                      <div class="text-right">
                          {{propos.descriptionM|safe}}
                      </div>
                      {% endif %}
                      {% if propos.imageM.url is not None %}
                      <p class="text-right">
                          <img
                              style="background-position:center top; background-repeat:no-repeat;size:cover"
                              src="{{propos.imageM.url}}"
                              class="img-fluid"
                              alt="images">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:370px;width:500px;background-size:cover" alt="">
                          -->
                      </p>
                      {% endif %}
                  </div>

                  <div class="col-lg-6 col-12">
                      {% if propos.titreV %}
                      <p style="color:#282830;font-size:18px;font-weight:700" class="text-justify">
                          {{propos.titreV}}
                      </p>
                      {% endif %}
                      {% if propos.descriptionV %}
                      <p class="text-justify">
                          {{propos.descriptionV|safe}}
                      </p>
                      {% endif %}
                      {% if propos.imageV.url is not None %}
                      <p>
                        <img src="{{propos.imageV.url}}" alt=""
                             style="height:325px;width:100%;background-position:center top; background-repeat:no-repeat;size:cover"
                             class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:370px;width:500px;background-size:cover" alt="">
                          -->
                      </p>
                      {% endif %}
                  </div>
                  <div class="col-lg-6"></div>

                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 col-12">
                      {% if propos.titreVa %}
                      <p style="color:#282830;font-size:18px;font-weight:700" class="text-right">
                          {{propos.titreVa}}
                      </p>
                      {% endif %}
                      {% if propos.descriptionVa %}
                      <div class="text-right">
                          {{propos.descriptionVa|safe}}
                      </div>
                      {% endif %}
                      {% if propos.imageVa.url is not None %}
                      <p class="text-right">
                          <img
                              style="background-position:center top; background-repeat:no-repeat;size:cover"
                              src="{{propos.imageVa.url}}"
                              class="img-fluid"
                              alt="images">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:370px;width:500px;background-size:cover" alt="">
                          -->
                      </p>
                      {% endif %}
                  </div>

                  <div class="col-lg-6 col-12">
                      {% if propos.titreE %}
                      <p style="color:#282830;font-size:18px;font-weight:700" class="text-justify">
                          {{propos.titreE}}
                      </p>
                      {% endif %}
                      {% if propos.descriptionE %}
                      <p class="text-justify">
                          {{propos.descriptionE|safe}}
                      </p>
                      {% endif %}
                      {% if propos.imageE.url is not None %}
                      <p>
                        <img src="{{propos.imageE.url}}" alt=""
                             style="height:325px;width:100%;background-position:center top; background-repeat:no-repeat;size:cover"
                             class="img-fluid">
                          <!--
                          <img src="{% static 'cabinet/assets/img/jeux.jpg' %}" style="height:370px;width:500px;background-size:cover" alt="">
                          -->
                      </p>
                      {% endif %}
                  </div>
                  <div class="col-lg-6"></div>
              </div>
          </div>
      </section>
  </main>

<!-- Modal DIAMOND -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nos solutions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
            <p class="text-justify">
              JGK Entreprises & Consulting (JGK-EC) évolue dans le domaine de l'appui-conseil aux organisations
                de tout genre : entreprises, administrations publiques et privées.
                <br><br>
              Nous aidons les organisations à booster leur productivité en renforçant les capacités techniques et
                managériales de leurs dirigeants.
                <br><br>
              Nous accompagnons également les entreprises dans la réalisation de leurs projets de croissance à travers :
              <ul>
                <li>
                    Des études de marché approfondies leur permettant d’avoir une bonne compréhension des réalités de leurs
                    marchés et de décider de leur positionnement.
                </li>
                <li>
                    Le montage de business plans complets et détaillés, leur permettant de clarifier leurs objectifs
                    et d’établir des plans pour les atteindre.
                </li>
                <li>
                    L’accompagnement dans le processus de recherche de financements, en mettant à contribution divers partenariats
                    établis localement et à l’international.
                </li>
              </ul>
              <br>
              Notre expertise nous a valu la reconnaissance de la BCEAO comme :  structures d'appui et d'encadrement.
                <br><br>
                  L’intégrité, la bienveillance et le professionnalisme sont les valeurs que nous mettons en avant afin
                de toujours donner le meilleur à nos clients.
                <br><br>
                  Nous tirons notre satisfaction de l’impact de nos interventions sur nos clients. Ceux-ci atteignent
                des objectifs plus élevés, par un meilleur management de leurs ressources humaines et par un meilleur accès
                aux ressources financières nécessaires à l’implémentation de leurs projets.
            </p>
        </div>
      </div>
        <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
  </div>
</div>

{% endblock %}
