{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  {% block head %}{% endblock %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cabinet JGK-EC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <!-- <link href="{% static 'cabinet/assets/img/favicon.png' %}" rel="icon"> -->
  <link href="{% static 'cabinet/assets/img/jgk.jpg' %}" rel="icon">
  <link href="{% static 'cabinet/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'cabinet/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'cabinet/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

  <script src="https://use.fontawesome.com/8091d8a05c.js"></script>
  {% block link %}{% endblock %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'cabinet/assets/css/style.css' %}" rel="stylesheet">

  <style>
    a {
      text-decoration:none;
    }
    .solution::before, .card1::before, .card2::before, .card3::before, .card4::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
      filter: blur(15px); /* Flou gaussien de 5px */
    }
    .ban::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 01); /* Fond noir semi-transparent */
      filter: blur(15px); /* Flou gaussien de 5px */
    }

    /* Styles par défaut pour la section */
    #hero {
        height: 550px;
        margin-top: 0px;
    }

    /* Médias query pour les téléphones (par exemple, jusqu'à 767px de large) */
    @media only screen and (max-width: 767px) {
        #hero {
            height: 900px;/* ta nouvelle hauteur pour les téléphones */;
        }
    }

  </style>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TSG1DW490G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TSG1DW490G');
    </script>
</head>

<body style="font-family: 'Roboto Slab', serif;">
  {% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 style="background: url('{% static 'cabinet/assets/img/jgk.jpg' %}');background-size: cover;" class="logo mr-auto">
        <a style="opacity:0" href="{% url 'acceuil' %}"><span>JGK</span>EC</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <img class="logo mr-auto"
           style="width:85px;height:35px;img-fit: cover;"
           src="{% static 'cabinet/assets/img/jgk.jpg' %}"
           alt="">

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="{% block active_acceuil %}{% endblock %}"><a href="{% url 'acceuil' %}">Acceuil</a></li>
          <li class="{% block active_nosolutions %}{% endblock %}"><a href="{% url 'solution' %}">Nos solutions</a></li>
          {% if articles_count %}
          <!--<li class="{% block active_articles %}{% endblock %}"><a href="{% url 'article' %}">Articles</a></li>-->
          {% endif %}

          {% if activites_count %}
          <!--<li class="{% block active_activites %}{% endblock %}"><a href="{% url 'activite' %}">Activités</a></li>-->
          {% endif %}
          <li class="{% block active_apropos %}{% endblock %}"><a style="margin-bottom:10px" href="{% url 'apropos' %}">A propos</a></li>
          <!--<li class="{% block active_feedback %}{% endblock %}"><a href="{% url 'feedback' %}">Feedback</a></li>-->
          <li class="{% block active_contacteznous %}{% endblock %}">
            <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank" style="text-transform:none;background-color:#462446;border:1px solid #462446;color:#fff;font-size:18px;padding: 10px 15px;border-radius:5px;margin-top:-10px;font-weight:700">
              {{ mission.voirplus }}
            </a>
          </li>

          <!-- START OLD DESIGN -->

          <!--
          <li class="drop-down {% block active_formation %}{% endblock %}"><a href="javascript:void(0)">Programmes</a>
            <ul>
              <li class="{% block active_formation_formule %}{% endblock %}"><a href="{% url 'formule' %}">Programme DIAMOND</a></li>
              <li class="{% block active_formation_calender %}{% endblock %} drop-down"><a href="javascript:void(0)">Calendrier</a>
                <ul>
                  <li><a href="{% url 'calendrier' %}">Atelier en présentiel</a></li>
                  <li><a href="{% url 'calendrier2' %}">Atelier virtuel</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="drop-down {% block active_expertise %}{% endblock %}"><a href="{% url 'expertise' %}">Notre Expertise</a>
            <ul>
              <li class="{% block active_expertise_management %}{% endblock %}"><a href="{% url 'management' %}">Renforcement des capacités techniques et managériales</a></li>
              <li class="{% block active_expertise_ingenierie %}{% endblock %}"><a href="{% url 'ingenierie' %}">Ingénierie de la formation</a></li>
              <li class="{% block active_expertise_etude %}{% endblock %}"><a href="{% url 'etude' %}">Etudes socio-économiquesn</a></li>
              <li class="{% block active_expertise_finance %}{% endblock %}"><a href="{% url 'finance' %}">Facilitation d'accès aux financements</a></li>
              <li class="{% block active_expertise_reprise %}{% endblock %}"><a href="{% url 'reprise' %}">Restructuration et reprise d’entreprises</a></li>
              <li class="{% block active_expertise_insertion %}{% endblock %}"><a href="{% url 'insertion' %}">Insertion professionnelle des jeunes</a></li>
            </ul>
          </li>

          <li class="{% block active_ref %}{% endblock %}"><a href="{% url 'acceuil' %}#clients">Nos Références</a></li>
          <li class="{% block active_contact %}{% endblock %}"><a href="{% url 'contacts' %}">Contact</a></li>
          <li class="{% block active_sondage %}{% endblock %}"><a href="{% url 'sondage' %}">Sondage</a></li>
          -->

          <!-- STOP OLD DESIGN -->

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  {% endblock %}

  {% block section %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item ban active" style="background-image: url({% if banniereAccueil.image.url is None %}{% static 'cabinet/assets/img/6.jpeg' %}{% elif banniereAccueil.image.url is not None %}{{banniereAccueil.image.url}}{% endif %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">

              <h2>{{ banniereAccueil.titre }}</h2>

              <p style="font-weight:500;line-height:30px;text-align:justify">
              {{banniereAccueil.libelle|safe}}
              </p>

              <div class="text-center">
                  <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank" class="btn btn-lg btn-primary" style="border: 1px solid #462446; background-color: #462446">{{banniereAccueil.voirplus}}</a>
                </div>
            </div>
          </div>
        </div>

        <!-- Slide 2
        <div class="carousel-item" style="background-image: url({% static 'cabinet/assets/img/slide_2.jpeg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Notre expertise</h2>
              <p style="font-weight:500;line-height:30px">
                Pour la réalisation de nos missions, nous mettons à contribution une équipe de consultants hautement qualifiés.
                Nous disposons en effet d’un important répertoire d’experts nationaux et internationaux possédant des
                d’expériences multiples et variées.
              </p>
              <div class="text-center"><a href="{% url 'solution' %}" class="btn-get-started">Voir plus</a></div>
            </div>
          </div>
        </div>
        -->

        <!-- Slide 3
        <div class="carousel-item" style="background-image: url({% static 'cabinet/assets/img/slide_3.jpeg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2><span>Prochaines formations</span></h2>
              <p  style="font-weight:500;line-height:30px;font-size:25px">
                <i>Les quatre postures du manager: equipier, entraineur, arbitre, coach.</i>
                <br>
              </p>
              <div class="text-center"><a href="{% url 'solution' %}" class="btn-get-started">Voir plus</a></div>
            </div>
          </div>
        </div>
        -->

      </div>

      <!--
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      -->

    </div>
  </section><!-- End Hero -->

  {% endblock %}

  {% block main %}
  <main id="main">
    <div data-aos="fade-up">
      <div class="card-group">
        <div class="card card1" style="background-image:url('{% static 'cabinet/assets/img/miss.jpg' %}'); background-size:cover;background-position:center">
          <div class="container" data-aos="fade-up">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" height="6em" viewBox="0 0 512 512" style="display: block; margin: 0 auto;"><path fill="white" d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
            <div class="card-body" style="color:#fff">
              <h5 class="card-title text-center" style="color:white;font-size:25px">
                <br>
                {{notremission.titre|safe}}</h5>
                <br>
              <p class="card-text">{{notremission.libelle|safe}}</p>
            </div>
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" height="6em" viewBox="0 0 640 512" style="display: block; margin: 0 auto;"><path fill="white" d="M320 0a128 128 0 1 1 0 256A128 128 0 1 1 320 0zM40 64c22.1 0 40 17.9 40 40v40 80 40.2c0 17 6.7 33.3 18.7 45.3l51.1 51.1c8.3 8.3 21.3 9.6 31 3.1c12.9-8.6 14.7-26.9 3.7-37.8l-15.2-15.2-32-32c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l32 32 15.2 15.2 0 0 25.3 25.3c21 21 32.8 49.5 32.8 79.2V464c0 26.5-21.5 48-48 48H173.3c-17 0-33.3-6.7-45.3-18.7L28.1 393.4C10.1 375.4 0 351 0 325.5V224 160 104C0 81.9 17.9 64 40 64zm560 0c22.1 0 40 17.9 40 40v56 64V325.5c0 25.5-10.1 49.9-28.1 67.9L512 493.3c-12 12-28.3 18.7-45.3 18.7H400c-26.5 0-48-21.5-48-48V385.1c0-29.7 11.8-58.2 32.8-79.2l25.3-25.3 0 0 15.2-15.2 32-32c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-32 32-15.2 15.2c-11 11-9.2 29.2 3.7 37.8c9.7 6.5 22.7 5.2 31-3.1l51.1-51.1c12-12 18.7-28.3 18.7-45.3V224 144 104c0-22.1 17.9-40 40-40z"/></svg>
            <div class="card-body" style="color:#fff">
              <h5 class="card-title text-center" style="font-size:25px">{{valeur.titre|safe}}</h5>
              <p class="card-text">
                {{valeur.libelle|safe}}
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank" class="btn btn-lg btn-primary" style="border: 1px solid #462446; background-color: #462446">{{valeur.voirplus}}</a>
            </div>
          </div>
        </div>
        <div class="card card2" style="background-image:url('{% static 'cabinet/assets/img/produc.jpg' %}'); background-size:cover;background-position:center">
          <div class="" data-aos="fade-up">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" height="6em" viewBox="0 0 640 512" style="display: block; margin: 0 auto;">
              <path fill="white" d="M72 88a56 56 0 1 1 112 0A56 56 0 1 1 72 88zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3V245.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5V416c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V389.2C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112h32c24 0 46.2 7.5 64.4 20.3zM448 416V394.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176h32c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2V416c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32zm8-328a56 56 0 1 1 112 0A56 56 0 1 1 456 88zM576 245.7v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 32a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM240 304c0 16.2 6 31 16 42.3V261.7c-10 11.3-16 26.1-16 42.3zm144-42.3v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2V448c0 17.7-14.3 32-32 32H288c-17.7 0-32-14.3-32-32V405.2c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112h32c61.9 0 112 50.1 112 112z"/></svg>
            <div class="card-body" style="color:#fff">
              <h5 class="card-title text-justify" style="font-size:25px">
                <br>
                {{productivite.titre|safe}}
              </h5>
                <br>
              <p class="card-text">
                {{productivite.libelle|safe}}
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'contacteznous' %}"
                 class="btn btn-lg btn-primary"
                 style="color:#fff;
                 border: 1px solid #462446;
                 background-color: #462446">
                Contactez un membre de l’équipe de JGK-EC
              </a>
            </div>
          </div>
        </div>
        <div class="card card3" style="background-image:url('{% static 'cabinet/assets/img/3.jpeg' %}'); background-size:cover;background-position:center">
          <div class="container" data-aos="fade-up">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" height="6em" viewBox="0 0 384 512" style="display: block; margin: 0 auto;"><path fill="white" d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
            <div class="card-body" style="color:#fff">
              <h5 class="card-title text-center" style="font-size:25px">
                <br>
                {{diamond.titre|safe}}</h5>
                <br>
              <p class="card-text">
                {{diamond.libelle|safe}}
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank" class="btn btn-lg btn-primary" style="border: 1px solid #462446; background-color: #462446">{{diamond.voirplus}}</a>
            </div>
          </div>
        </div>
        <div class="card card4" style="background-image:url('{% static 'cabinet/assets/img/val.jpg' %}'); background-size:cover;background-position:center">
          <div class="container" data-aos="fade-up">
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" height="6em" viewBox="0 0 640 512" style="display: block; margin: 0 auto;"><path fill="white" d="M320 0a128 128 0 1 1 0 256A128 128 0 1 1 320 0zM40 64c22.1 0 40 17.9 40 40v40 80 40.2c0 17 6.7 33.3 18.7 45.3l51.1 51.1c8.3 8.3 21.3 9.6 31 3.1c12.9-8.6 14.7-26.9 3.7-37.8l-15.2-15.2-32-32c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l32 32 15.2 15.2 0 0 25.3 25.3c21 21 32.8 49.5 32.8 79.2V464c0 26.5-21.5 48-48 48H173.3c-17 0-33.3-6.7-45.3-18.7L28.1 393.4C10.1 375.4 0 351 0 325.5V224 160 104C0 81.9 17.9 64 40 64zm560 0c22.1 0 40 17.9 40 40v56 64V325.5c0 25.5-10.1 49.9-28.1 67.9L512 493.3c-12 12-28.3 18.7-45.3 18.7H400c-26.5 0-48-21.5-48-48V385.1c0-29.7 11.8-58.2 32.8-79.2l25.3-25.3 0 0 15.2-15.2 32-32c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-32 32-15.2 15.2c-11 11-9.2 29.2 3.7 37.8c9.7 6.5 22.7 5.2 31-3.1l51.1-51.1c12-12 18.7-28.3 18.7-45.3V224 144 104c0-22.1 17.9-40 40-40z"/></svg>
            <div class="card-body" style="color:#fff">
              <h5 class="card-title text-center" style="font-size:25px">
                <br>{{financement.titre|safe}}</h5>
              <p class="card-text">
                {{financement.libelle|safe}}
              </p>
              <br><br>
            </div>
            <div class="card-footer text-center">
              <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank" class="btn btn-lg btn-primary" style="border: 1px solid #462446; background-color: #462446">{{financement.voirplus}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Notre mission ======= -->
    <div data-aos="fade-up" class="text-center">
      <br><br>
      <div style="background-color:#f1f2f6;padding:1px">
        <br><br>
        <span style="font-size:28px;color:#2d3436;font-weight:bold;font-style:italic">
          {{expertise.libelle|safe}}
        </span>
        <br><br>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="" data-aos="fade-up">
              <p style="font-size:40px;margin-top:30px;font-weight:500">Ils nous font confiance</p>
              <div class="row clients-wrap clearfix text-center" data-aos="fade-up">
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:30px;width:110px;" src="{% static 'cabinet/assets/img/lafic.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:110px;width:120px;margin-top:-40px" src="{% static 'cabinet/assets/img/ogar.jpg' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:40px;width:110px;" src="{% static 'cabinet/assets/img/transam.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:20px;width:90px;" src="{% static 'cabinet/assets/img/sodigaz.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:80px;width:80px;margin-top:-15px" src="{% static 'cabinet/assets/img/cfbt.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:40px;width:50px;" src="{% static 'cabinet/assets/img/sge.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:50px;width:35px;" src="{% static 'cabinet/assets/img/tde.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:45px;width:45px;" src="{% static 'cabinet/assets/img/sotoplat.jpg' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:30px;width:70px;" src="{% static 'cabinet/assets/img/ism-adonai.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:80px;width:80px;margin-top:-30px" src="{% static 'cabinet/assets/img/nipped.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:30px;width:90px;" src="{% static 'cabinet/assets/img/umat.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:25px;width:90px" src="https://www.sgeinter.com/themes/sgeinter/assets/img/logo.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:35px;width:90px;" src="{% static 'cabinet/assets/img/Logo_ANPE_Togo.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:55px;width:100px;margin-top:-10px" src="{% static 'cabinet/assets/img/diwa.jpg' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:80px;width:120px;margin-top:-25px" src="{% static 'cabinet/assets/img/logo-PAEIJ-SP3.jpg' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:55px;width:55px;margin-top:-10px" src="{% static 'cabinet/assets/img/ires-rdec.jfif' %}" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-6" style="margin-top:50px">
                  <div class="client-logo">
                    <img style="height:55px;width:85px;margin-top:-10px" src="https://www.bceao.int/themes/medianet/image/png/logo_fr.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
    </div>

    <div data-aos="fade-up" style="background-color:#2c2c54">
      <div class="container" style="width:100%;color:white">
        <br>
        <h2 style="font-weight:500">Nos clients en parlent mieux que nous !</h2>
        <br><br>

        <div class="card-body">
          <table id="example1" style="color:#fff" class="table  table-responsive">
            <tbody>
              <tr>
                <td style="font-size:22px">
                  Dr Aboume T. KOMINA est un grand homme qui est doté de capacités énormes de formateur et d'accompagnateur
                  dans les domaines du management et du leadership. Il est très éloquent et d'un caractère très humble.

                  J'ai eu la chance de recevoir de lui une formation en leadership et gouvernance d'entreprise au sein
                  de l'entreprise dont je suis le DAF. Depuis ce temps j'avoue que mes capacités managériales et ma personnalité
                  se sont améliorées très positivement.

                  Je vous le recommande vivement !
                </td>
              </tr>
              <tr>
                <td style="font-size:22px;font-style:italic">
                  Prince ASSOU Yao - Responsable Administratif et financier
                </td>
              </tr>
              <tr>
                <td style="font-size:22px">
                  <br>
                  Nous avons eux le plaisir de travailler avec Dr KOMINA dans I'accompagnement des TPME avec I approche
                  CEFE dans I laquelle nous sommes tous certifiés Formateur. il faut reconnaitre que Dr KOMINA exprime
                  une compétences hors norme en matière de facilitation et interaction avec son audience. ceci reste une
                  qualité indéniable dans de telle approche ou le changement et la transformation intérieure après
                  la formation reste pour nous la clé de réussite.
                </td>
              </tr>
              <tr>
                <td style="font-size:22px;font-style:italic">
                  Bikiliwé MISSA - Conseiller en financement
                </td>
              </tr>
              <tr>
                <td style="font-size:22px">
                  <br>
                  Nous avons eu le plaisir d'être accompagné en développement personnel et relationnel en entreprise
                  par l'expert Komina. Nous pouvons vous rassurer que cet accompagnement vous permettra de challenger et de voir loin.
                  Merci mon expert.
                </td>
              </tr>
              <tr>
                <td style="font-size:22px;font-style:italic">
                  Kpogli Koffitse - Directeur chez SAM Company
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->

        <br><br>
      </div>
    </div>

    <div data-aos="fade-up" class="text-center">
      <div>
        <br><br>
        <p class="container" style="font-size:40px;font-weight:bold;text-align:left;text-decoration:underline">{{motdudg.titre|safe}}</p>
        <br>
        <p>
          <img src="{{ motdudg.image.url }}"
               style="object-fit: cover;width:70%;height:60% " alt="">
        </p>
        <br>
        <div class="container col-lg-12 col-12" style="width:100%">
          <div class="text-justify" style="font-size:22px">
            {{motdudg.libelle|safe}}
            <br>
          </div>
        </div>
        <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank">
          <span class="btn btn-dark btn-lg mx-auto" style="border: 1px solid #462646; background-color: #462646;font-size:28px">{{motdudg.voirplus}}</span>
        </a>
        <br><br><br><br>
      </div>
    </div>

    <div data-aos="fade-up" class="text-center">
      <div style="background-color:#f1f2f6;padding:1px">
        <br><br>
        <span style="font-size:40px;font-weight:600;color:#2d3436;">{{performance.libelle|safe}}</span>
        <br>
        <a href="https://calendly.com/kominac2000/zoom-meeting" target="_blank">
          <span class="btn btn-dark btn-lg mx-auto" style="border: 1px solid #462646; background-color: #462646;font-size:28px">{{performance.voirplus}}</span>
        </a>
        <br><br><br><br>
      </div>
    </div>

    <!-- ======= Our Clients Section ======= -->
    <!--
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ils nous ont fait confiance</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:180px; width:400px" src="{% static 'cabinet/assets/img/logo-PAEIJ-SP3.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:100px; width:1(0px" src="{% static 'cabinet/assets/img/Logo_ANPE_Togo.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:300px; width:300px" src="{% static 'cabinet/assets/img/nipped.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:250px; width:250px" src="{% static 'cabinet/assets/img/ogar.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:160px; width:200px" src="{% static 'cabinet/assets/img/sge.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:80px; width:200px" src="{% static 'cabinet/assets/img/sodigaz.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:90px; width:170px" src="{% static 'cabinet/assets/img/ism-adonai.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:70px; width:170px" src="{% static 'cabinet/assets/img/lafic.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:250px; width:250px" src="{% static 'cabinet/assets/img/cfbt.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:150px; width:400px" src="{% static 'cabinet/assets/img/diwa.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:160px; width:160px" src="{% static 'cabinet/assets/img/ires-rdec.jfif' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:120px; width:180px" src="{% static 'cabinet/assets/img/sotoplat.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:100px; width:180px" src="{% static 'cabinet/assets/img/transam.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:90px; width:200px" src="{% static 'cabinet/assets/img/umat.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:90px; width:200px" src="{% static 'cabinet/assets/img/sge2.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
            <div class="client-logo">
              <img style="height:150px; width:200px" src="{% static 'cabinet/assets/img/tde.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- End Our Clients Section -->

  </main><!-- End #main -->
  {% endblock %}

  {% block footer%}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-md-6 footer-contact">
            <h3>JGK-EC</h3>
            {% for foot in footer %}
            <p>
              {{foot.jgkec}}<br><br>
              <strong id="contact">Téléphones: <br></strong>
              {% for tel in foot.tel.all %}
              {{tel}}<br>
              {% endfor %}
              <br><br>
              <strong>Email:</strong><br>
              {% for email in foot.mail.all %}
              {{email}}<br>
              {% endfor %}
            </p>
            <br>
            <p>
              <a style="color:#31A3FF" href="{% url 'dashboard' %}">
                Accès admin
                <i class="fa fa-angle-right"></i>
              </a>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Nos solutions</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Renforcement des capacités techniques et managériales</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Facilitation d'accès au financement</a></li>
            </ul>
          </div>

          <!--
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Articles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Entrepreunariat</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Financements</a></li>
            </ul>
          </div>
          -->

          <!--
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Activités</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Webinaires</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Salon d'échanges</a></li>
            </ul>
          </div>
          -->

          <div class="col-lg-1 col-md-6 footer-links">
            <h4>A propos</h4>
          </div>

          <!--
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Feedback</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Interviews</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Commentaires</a></li>
            </ul>
          </div>
          -->

          <div class="col-lg-1 col-md-6 footer-links">
            <h4>Contactez nous</h4>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright 2021 <strong><span>JGK-EC</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Create by <a href="http://jgkec.com/">JGK-EC</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'cabinet/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'cabinet/assets/vendor/aos/aos.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'cabinet/assets/js/main.js' %}"></script>

  {% block javascript %}{% endblock %}
</body>

</html>
