{% extends "base.html" %}
{% load static %}

{% block active_sondage %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sondage</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'sondage' %}">Sondage</a></li>
          </ol>
        </div>

      </div>
    </section>
    <section id="blog" class="blog">
      <div class="container">
        <div class="section-title">
            <h2>SONDAGE</h2>
        </div>
        <div class="row">
          <div class="col-lg-8 entries mx-auto">
            <article class="entry" data-aos="fade-up">
                <section id="faq" class="faq section-bg">
                  <div class="container" data-aos="fade-up">
                      <div class="faq-list">
                          <ul>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <a data-toggle="collapse" href="#faq-list-2" class="text-center collapsed">
                                    AUCUN SONDAGE EN COURS
                                </a>
                            </li>
                          </ul>
                      </div>
                  </div>
                </section>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
