{% for article in articles %}
<tr>
  <td class="text-left" style="font-size:18px">{{article.titre|safe}}</td>
  <td class="text-left" style="font-size:17px"><span style="background-color:#6C757D;color:#FFF;font-style:italic;border-radius:5px;padding:0px 5px">{{article.image}}</span></td>
  <td class="text-left" style="font-size:18px">{{article.date}}</td>
  <td>
    <a href="{% url 'updatearticleadmin' article.id %}" class="btn btn-info btn-sm">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <button class="btn btn-danger btn-sm show-form-delete" data-url="{% url 'deletearticleadmin' article.id %}">
      <i class="fas fa-trash-alt"></i>
    </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="5" style="background:lightblue;text-align:center;font-weight:700">Aucun article n'est disponible pour le moment !</td>
</tr>
{% endfor %}