{% for message in messages %}
<tr>
  <td class="text-left" style="font-size:20px">{{message.motif}}</td>
  <td class="text-left" style="font-size:20px">
    {{message.nom}} {{message.prenom}}
    <br>
    <!--
    <span class="badge badge-sm badge-secondary">
      <a href="{% url 'voirmessageclient' message.id %}" style="color:#fff">Cliquez pour voir le message ></a>
    </span>
    -->
  </td>
  <td class="text-left" style="font-size:20px">{{message.mail}}</td>
  <td class="text-left" style="font-size:20px">{{message.telephone}}</td>
  <td class="text-left" style="font-size:20px">{{message.pays}}</td>
  <td class="text-left" style="font-size:20px">{{message.date}}</td>

  <!--
  <td>
    <button disabled class="btn btn-secondary btn-sm show-form-delete" data-url="{% url 'deletemessageadmin' message.id %}">
      Ce message a été lu
      <i class="fas fa-check"></i>
    </button>
  </td>
  -->
</tr>
{% empty %}
<tr>
  <td colspan="6" style="background:lightblue;text-align:center;font-weight:700">Aucun message n'est disponible pour le moment !</td>
</tr>
{% endfor %}