{% extends "baseadmin.html" %}
{% load static %}

{% block link %}
<!-- Custom styles for this page -->
<link href="{% static 'cabinet/admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Activités
{% endblock %}

{% block page-active %}
active
{% endblock %}

{% block show %}
show
{% endblock %}

{% block active-message %}
active
{% endblock %}

{% block pagename %}
Message
{% endblock %}

{% block currentpage %}
Lire message
{% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <a href="{% url 'messageadmin' %}" class="btn btn-sm btn-secondary">
            retour <i class="fas fa-angle-right"></i>
        </a>

        <br><br>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#{{contact.collapse}}" class="d-block card-header py-3" data-toggle="collapse"
                        role="button" aria-expanded="true" aria-controls="{{contact.collapse}}">
                        <h6 class="m-0 font-weight-bold text-primary"><span style="text-decoration: underline">Client</span> | {{message.nom}}&nbsp;{{message.prenom}}</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="{{contact.collapse}}">
                        <div class="card-body">
                            <h6 style="font-weight:700;font-size:20px"><span style="text-decoration: underline">Fonction du client :</span> {{message.fonction}}</h6>
                            <br>
                            <h6 style="font-weight:700;font-size:20px"><span style="text-decoration: underline">Objet :</span> {{message.objet}}</h6>
                            <p style="font-size:18px">
                                {{message.message}}
                                <br>
                            </p>
                            <div style="text-align:right">
                                <span style="font-style:italic;">{{ message.time_diff }}</span>
                            </div>
                            <a href="https://wa.me/{{message.telephone}}?text=Bonjour%20Mr%20{{message.nom}}%20{{message.prenom}}"
                               target="_blank" style="color:#6ab04c;text-decoration:none" title="Cliquez pour lancer la conversation">
                                <i style="font-size:30px" class="fa fa-user"></i> &nbsp;
                                <span style="font-size:30px">Discuter sur WhatsApp</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
{% endblock %}
