{% extends "baseadmin.html" %}
{% load static %}

{% block link %}
<!-- Custom styles for this page -->
<link href="{% static 'cabinet/admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Activités
{% endblock %}

{% block page-active %}
active
{% endblock %}

{% block show %}
show
{% endblock %}

{% block active-activite %}
active
{% endblock %}

{% block pagename %}
Activités
{% endblock %}

{% block currentpage %}
Activités
{% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Formulaire d'enrégistrement d'activités</h6>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% load crispy_forms_tags %}
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form.image|as_crispy_field }}
                                    {{ form.titre|as_crispy_field }}
                                    {{ form.texte|as_crispy_field }}
                                    <button type="submit" class="btn btn-block btn-lg btn-primary" style="font-weight:bold">Ajouter l'activité&nbsp;
                                        <i class="fas fa-chart-line"></i>
                                    </button>
                                </div>
                                <div class="col-lg-6 col-12">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center" style="font-size:17px">Liste des Activités</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table-modalcreateactiviteadmin" width="100%" cellspacing="0">
                        <thead>
                        <tr class="text-center" style="text-transform:uppercase">
                            <th style="width:40%">Titre</th>
                            <th style="width:25%">Image</th>
                            <th style="width:20%">Date de création</th>
                            <th style="width:15%">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% include "activiteadmin/listactiviteadmin.html" %}
                        </tbody>
                    </table>

                    <!-- Popup ajouter nouvelle categorie -->
                    <div class="modal modal fade" id="modal-modalcreateactiviteadmin">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'cabinet/admin/js/modalcreateactiviteadmin.js' %}"></script>

<script>
  $(function () {
    $('#table-modalcreateactiviteadmin').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>

<!-- Page level plugins -->
<script src="{% static 'cabinet/admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'cabinet/admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'cabinet/admin/js/demo/datatables-demo.js' %}"></script>
{% endblock %}
