{% extends "baseadmin.html" %}
{% load static %}

{% block title %}
Article
{% endblock %}

{% block page-active %}
active
{% endblock %}

{% block show %}
show
{% endblock %}

{% block active-activite %}
active
{% endblock %}

{% block pagename %}
Activités
{% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">

        <form method="POST" action="" enctype="multipart/form-data">
            {% load crispy_forms_tags %}
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    {{ form.image|as_crispy_field }}
                    {{ form.titre|as_crispy_field }}
                    {{ form.texte|as_crispy_field }}
                    <button type="submit" class="btn btn-block btn-lg btn-primary" style="font-weight:bold">Modifier l'activité {{activite.titre}}</button>
                </div>
                <div class="col">
                </div>
            </div>

            </form>

        <br><br>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center" style="font-size:17px">Liste des Activités</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table-modalcreateactiviteadmin" width="100%" cellspacing="0">
                        <thead>
                        <tr class="text-center" style="text-transform:uppercase">
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Date de création</th>
                            <th style="width:15%">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% include "articleadmin/listactiviteadmin.html" %}
                        </tbody>
                    </table>

                    <!-- Popup ajouter nouvelle categorie -->
                    <div class="modal modal fade" id="modal-modalcreateactiviteadmin">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'cabinet/admin/js/modalcreateactiviteadmin.js' %}"></script>
{% endblock %}