{% extends "base.html" %}
{% load static %}

{% block active_expertise_etude %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Expertises</h2>
        <ol>
          <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
          <li><a href="{% url 'expertise' %}">Expertises</a> &nbsp;/ &nbsp;Etudes socio-économiques </li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry" data-aos="fade-up">

            <div class="entry-img">
              <img src="{% static 'cabinet/assets/img/5371hr_-592x296-1476455405.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="javascript:void(0)">Etudes socio-économiques </a>
            </h2>

            <div class="entry-content">
              <p style="line-height:30px">
                Les études socio-économiques menées par JGK-EC peuvent avoir une vocation privée <br>
                  (client entreprise, organisme public) ou publique (commanditée par les médias <br>
                  dans le cadre de sondage politique par exemple). <br>
              </p>
              <div class="read-more">
                <a href="{% url 'calendrier' %}" style="background-color:#000">Voir nos formations</a>
              </div>
            </div>

          </article>

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar" data-aos="fade-left">

            <h3 class="sidebar-title">EXPERTISES</h3>
            <div class="sidebar-item categories">
              <ul>
                <li><a href="{% url 'management' %}">Renforcement des capacités techniques et managériales  </a></li>
                <li><a href="{% url 'ingenierie' %}">Ingénierie de la formation </a></li>
                <li><a href="{% url 'etude' %}">Etudes socio-économiques </a></li>
                <li><a href="{% url 'finance' %}">Faciliation d'accès aux financements </a></li>
                <li><a href="{% url 'reprise' %}">Restructuration et reprise d’entreprises </a></li>
                <li><a href="{% url 'insertion' %}">Insertion professionelle des jeunes </a></li>
              </ul>

            </div><!-- End sidebar categories-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}