{% extends "base.html" %}
{% load static %}

{% block active_expertise %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Expertises</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
            <li>Expertises</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div style="padding-right:70px" class="col-lg-6" data-aos="fade-right">
            <h2>JGK ENTREPRISES & CONSULTING </h2>
            <p style="text-align:justify" ><span>JGK ENTREPRISES & CONSULTING s’est assigné pour mission d’améliorer des vies en habilitant les personnes et les organisations.</span>
            </p>
            <p style="text-align:justify" class="font-italic">
                <span>Pour la réalisation de nos missions, nous mettons à contribution une équipe de consultants hautement qualifiés.
                Nous disposons en effet d’un important répertoire d’experts nationaux et internationaux possédant
                  des d’expériences multiples et variées.</span>
            </p>
          </div>
          <div style="padding-left:70px" class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <h3 style="font-size:30px">
                Explorez nos domaines d'expertise
            </h3>

            <ul style="font-weight:700">
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'management' %}">Renforcement des capacités techniques et managériales</a></li>
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'ingenierie' %}">Ingénierie de la formation </a></li>
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'insertion' %}">Etudes socio-économiques</a></li>
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'finance' %}">Facilitation d’accès aux financements</a></li>
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'insertion' %}">Restructuration et reprise d’entreprises</a></li>
              <li><i class="ri-check-double-line"></i> <a style="color:black;text-decoration:none" href="{% url 'insertion' %}">Insertion professionnelle des jeunes</a></li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'management' %}"><img style="width:350px;height:235px;" src="{% static 'cabinet/assets/img/management.jpg' %}" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px" class="entry-title">
                <a href="{% url 'management' %}">Renforcement des capacités techniques et managériales</a>
              </h3>
            </article>
          </div>
          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'ingenierie' %}"><img style="width:350px;height:235px;" src="{% static 'cabinet/assets/img/ingenierie.jpg' %}" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px" class="entry-title">
                <a href="{% url 'ingenierie' %}">INGENIERIE DE LA FORMATION <br><span style="opacity:0">&nbsp;</span></a>
              </h3>
            </article>
          </div>
          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'etude' %}"><img style="width:350px;height:235px;" src="{% static 'cabinet/assets/img/5371hr_-592x296-1476455405.jpg' %}" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px;text-transform:uppercase" class="entry-title">
                <a href="{% url 'etude' %}">Etudes socio-économiques <br><span style="opacity:0">&nbsp;</span></a>
              </h3>
            </article>
          </div>
          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'finance' %}"><img style="width:350px;height:235px;" src="https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px" class="entry-title">
                <a href="{% url 'finance' %}">FACILITATION D’ACCES AUX FINANCEMENTS</a>
              </h3>
            </article>
          </div>
          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'reprise' %}"><img style="width:350px;height:235px;" src="{% static 'cabinet/assets/img/reprise.jpg' %}" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px;text-transform:uppercase" class="entry-title">
                <a href="{% url 'reprise' %}">Restructuration et reprise d’entreprises</a>
              </h3>
            </article>
          </div>
          <div class="col-lg-4 entries">
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <a href="{% url 'insertion' %}"><img style="width:350px;height:235px;" src="{% static 'cabinet/assets/img/insertion.png' %}" alt="" class="img-fluid"></a>
              </div>
              <h3 style="text-align:center;font-size:15px" class="entry-title">
                <a href="{% url 'insertion' %}">INSERTION PROFESSIONNELLE / EMPLOI DES JEUNES</a>
              </h3>
            </article>
          </div>

        </div>
      </div>
    </section><!-- End Blog Section -->


  </main><!-- End #main -->
{% endblock %}
