{% extends "base.html" %}
{% load static %}

{% block active_expertise_finance %}
active
{% endblock %}

{% block section %}
{% endblock %}

{% block main %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Expertises</h2>
          <ol>
            <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
              <li><a href="{% url 'expertise' %}">Expertises</a> &nbsp;/ &nbsp;Faciliation d'accès aux financements et aux marchés</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img src="{% static 'cabinet/assets/img/photo-1462556791646-c201b8241a94 (1).jfif' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="javascript:void(0)">FACILITATION D’ACCES AUX FINANCEMENTS ET AUX MARCHES</a>
              </h2>

              <div class="entry-content">
                <p style="line-height:30px">
                    L’accès au financement et au marché font partie des challenges les plus courants des
                    entrepreneurs. Nous offrons un accompagnement qui prend en compte toutes les étapes aussi bien
                    pour accéder au financement que pour accéder au marché :

                </p>
                <ul style="font-weight:600; line-height:35px">
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">Les études de marchés et montage de business plans,</a></li>
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">la recherche de Sources Innovantes de Financements,</a></li>
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">Etude de marché en vue de la commercialisation de nouveaux produits et services,</a></li>
                    <li><a style="color:black;text-decoration:none" href="javascript:void(0)">Intermédiation commerciale pour l’écoulement ou l’approvisionnement.</a></li>
                </ul>
                <div class="read-more">
                  <a href="{% url 'calendrier' %}" style="background-color:#000">Voir nos formations</a>
                </div>
              </div>

            </article>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar" data-aos="fade-left">

              <h3 class="sidebar-title">EXPERTISES</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="{% url 'ingenierie' %}">Ingénierie de la formation </a></li>
                  <li><a href="{% url 'management' %}">Appui au management des organisations </a></li>
                  <li><a href="{% url 'finance' %}">Faciliation d'accès aux financements et aux marchés </a></li>
                  <li><a href="{% url 'developpement' %}">Décentralisation / Dévéloppement économique local </a></li>
                  <li><a href="{% url 'insertion' %}">Insertion professionelle / Emploi des jeunes </a></li>
                </ul>

              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock %}